flow.json
[
    {
        "id": "fdea4f1a813872ee",
        "type": "tab",
        "label": "Controller",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "15bf21108b90dc98",
        "type": "ui_tab",
        "name": "PV Control",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6f25cc7b53b9174f",
        "type": "ui_group",
        "name": "Charge Control",
        "tab": "15bf21108b90dc98",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f0f059977c7cb9eb",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "723de613faadf518",
        "type": "ui_group",
        "name": "SOC Control",
        "tab": "15bf21108b90dc98",
        "order": 2,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f6e8ace4ba111c9a",
        "type": "ui_group",
        "name": "Wallbox State",
        "tab": "15bf21108b90dc98",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6960b6aa5e80f3f4",
        "type": "ui_slider",
        "z": "fdea4f1a813872ee",
        "name": "",
        "label": "Min Charge",
        "tooltip": "Minimum charge current required",
        "group": "6f25cc7b53b9174f",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": true,
        "outs": "end",
        "topic": "I_min",
        "topicType": "str",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 790,
        "y": 240,
        "wires": [
            [
                "d79990882df7ee90"
            ]
        ]
    },
    {
        "id": "35a782611b39f79a",
        "type": "inject",
        "z": "fdea4f1a813872ee",
        "name": "load config",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "7a5664fcd82301ef"
            ]
        ]
    },
    {
        "id": "a286b9f0707a07f7",
        "type": "file in",
        "z": "fdea4f1a813872ee",
        "name": "get Config",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1030,
        "y": 80,
        "wires": [
            [
                "821ab88fed96d914"
            ]
        ]
    },
    {
        "id": "821ab88fed96d914",
        "type": "json",
        "z": "fdea4f1a813872ee",
        "name": "to json",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 270,
        "y": 160,
        "wires": [
            [
                "49586cf82a5dd16e"
            ]
        ]
    },
    {
        "id": "8e35f5a7097972fe",
        "type": "function",
        "z": "fdea4f1a813872ee",
        "name": "I_Charge",
        "func": "msg.update = 99\nif (msg.topic == \"config\") {\n    if (global.get(\"cnt\") == 1) {\n        msg.ui_control = {\n            \"min\": msg.payload.config.wbstatus.I_min,\n            \"max\": msg.payload.config.wbstatus.I_max\n        };\n\n        msg.payload[\"I_min\"] = flow.get(\"I_min_0\");\n        msg.payload[\"I_max\"] = flow.get(\"I_max_0\");\n        flow.set(\"I_min\", msg.payload.I_min)\n        flow.set(\"I_max\", msg.payload.I_max)\n        msg.update = 0\n    }\n    \n} else if (msg.topic == \"I_min\") {\n    if (flow.get(\"I_max\") < msg.payload.I_min) {\n        msg.payload.I_max = msg.payload.I_min\n        msg.update = 2\n    }\n    flow.set(\"I_min\", msg.payload.I_min)\n} else if (msg.topic == \"I_max\") {\n    if (flow.get(\"I_min\") > msg.payload.I_max) {\n        msg.payload.I_min = msg.payload.I_max\n        msg.update = 1\n    }\n    flow.set(\"I_max\", msg.payload.I_max)\n} else {\n    node.error(\"I_Charge: unknown msg.topic \" + msg.topic, msg);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 240,
        "wires": [
            [
                "b8a5242553ae9f23"
            ]
        ]
    },
    {
        "id": "73112250138b8d75",
        "type": "ui_slider",
        "z": "fdea4f1a813872ee",
        "name": "",
        "label": "Max Charge",
        "tooltip": "Max charge current allowed",
        "group": "6f25cc7b53b9174f",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": true,
        "outs": "end",
        "topic": "I_max",
        "topicType": "str",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 790,
        "y": 300,
        "wires": [
            [
                "d79990882df7ee90"
            ]
        ]
    },
    {
        "id": "a04a269b484df4f0",
        "type": "function",
        "z": "fdea4f1a813872ee",
        "name": "I_Grid",
        "func": "msg.ui_control = {\n    \"min\": 0,\n    \"max\": msg.payload.wbstatus.I_max\n}\nflow.set(\"I_gridMax\", flow.get(\"I_gridMax_0\"))\nmsg.payload = flow.get(\"I_gridMax\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 360,
        "wires": [
            [
                "1db5b9aef5c29a8c"
            ]
        ]
    },
    {
        "id": "1db5b9aef5c29a8c",
        "type": "ui_slider",
        "z": "fdea4f1a813872ee",
        "name": "",
        "label": "Max Grid Current",
        "tooltip": "Max grid current for car charging",
        "group": "6f25cc7b53b9174f",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": true,
        "outs": "end",
        "topic": "I_gridMax",
        "topicType": "str",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 810,
        "y": 360,
        "wires": [
            [
                "c5b3ef4ef5d7d117"
            ]
        ]
    },
    {
        "id": "84d2583f214e0f38",
        "type": "debug",
        "z": "fdea4f1a813872ee",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 960,
        "wires": []
    },
    {
        "id": "d79990882df7ee90",
        "type": "join",
        "z": "fdea4f1a813872ee",
        "name": "join Charge",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1030,
        "y": 160,
        "wires": [
            [
                "8e35f5a7097972fe"
            ]
        ]
    },
    {
        "id": "cccd847a0b84e317",
        "type": "function",
        "z": "fdea4f1a813872ee",
        "name": "config I_max",
        "func": "msg.payload = msg.payload.I_max;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 300,
        "wires": [
            [
                "73112250138b8d75"
            ]
        ]
    },
    {
        "id": "b7387ef91c94cdbe",
        "type": "function",
        "z": "fdea4f1a813872ee",
        "name": "config I_min",
        "func": "msg.payload = msg.payload.I_min; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 240,
        "wires": [
            [
                "6960b6aa5e80f3f4"
            ]
        ]
    },
    {
        "id": "08d7e5664af0815b",
        "type": "ui_slider",
        "z": "fdea4f1a813872ee",
        "name": "",
        "label": "minSOC",
        "tooltip": "Min SOC",
        "group": "723de613faadf518",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "minSOC",
        "topicType": "str",
        "min": 0,
        "max": "100",
        "step": "1",
        "className": "",
        "x": 780,
        "y": 620,
        "wires": [
            [
                "e6e1e01e755fb9e2"
            ]
        ]
    },
    {
        "id": "bc07384a3678aa5d",
        "type": "ui_slider",
        "z": "fdea4f1a813872ee",
        "name": "",
        "label": "minSOC (Charge)",
        "tooltip": "Min SOC before charging starts",
        "group": "723de613faadf518",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "minSOCCharge",
        "topicType": "str",
        "min": 0,
        "max": "100",
        "step": "1",
        "className": "",
        "x": 810,
        "y": 680,
        "wires": [
            [
                "e6e1e01e755fb9e2"
            ]
        ]
    },
    {
        "id": "331ee46ba8dd9522",
        "type": "ui_slider",
        "z": "fdea4f1a813872ee",
        "name": "",
        "label": "maxSOC (Charge)",
        "tooltip": "Max SOC during charging",
        "group": "723de613faadf518",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "maxSOCCharge",
        "topicType": "str",
        "min": 0,
        "max": "100",
        "step": "1",
        "className": "",
        "x": 810,
        "y": 740,
        "wires": [
            [
                "e6e1e01e755fb9e2"
            ]
        ]
    },
    {
        "id": "26311181aaf58812",
        "type": "ui_slider",
        "z": "fdea4f1a813872ee",
        "name": "",
        "label": "maxSOC",
        "tooltip": "Max SOC",
        "group": "723de613faadf518",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "maxSOC",
        "topicType": "str",
        "min": 0,
        "max": "100",
        "step": "1",
        "className": "",
        "x": 780,
        "y": 800,
        "wires": [
            [
                "e6e1e01e755fb9e2"
            ]
        ]
    },
    {
        "id": "a1f88a7f4325d0e9",
        "type": "ui_template",
        "z": "fdea4f1a813872ee",
        "group": "6f25cc7b53b9174f",
        "name": "template Charge",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<style> #PV_Control_Charge_Control_cards \n.nr-dashboard-slider p.label \n{ width: 40%; \n  max-width: 40%; \n  min-width: 40%; \n  overflow: hidden; } \n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1040,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "b7a8723f5fff876f",
        "type": "ui_template",
        "z": "fdea4f1a813872ee",
        "group": "723de613faadf518",
        "name": "template SOC",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<style> #PV_Control_SOC_Control_cards \n.nr-dashboard-slider p.label \n{ width: 40%; \n  max-width: 40%; \n  min-width: 40%; \n  overflow: hidden; } \n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1040,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "821abe062a5f1b14",
        "type": "function",
        "z": "fdea4f1a813872ee",
        "name": "SOC",
        "func": "msg.update = 99\nif (msg.topic == \"config\") {\n    if (global.get(\"cnt\") == 1) {\n        msg.ui_control = {\n            \"min\": Number(msg.payload.config.ctrlstatus.batMinSoc)*100,\n            \"max\": 100\n        };\n        \n        msg.payload[\"minSOC\"]       = flow.get(\"minSOC_0\");\n        msg.payload[\"minSOCCharge\"] = flow.get(\"minSOCCharge_0\");\n        msg.payload[\"maxSOCCharge\"] = flow.get(\"maxSOCCharge_0\");\n        msg.payload[\"maxSOC\"]       = flow.get(\"maxSOC\");\n\n        flow.set(\"minSOC\",       msg.payload.minSOC);\n        flow.set(\"minSOCCharge\", msg.payload.minSOCCharge);\n        flow.set(\"maxSOCCharge\", msg.payload.maxSOCCharge);\n        flow.set(\"maxSOC\",       msg.payload.maxSOC);\n\n        msg.update = 0;\n    }\n    \n} else if (msg.topic == \"minSOC\") {\n    if (flow.get(\"minSOCCharge\") < msg.payload.minSOC) {\n        msg.payload.minSOCCharge = msg.payload.minSOC;\n        msg.update = 2;\n    }\n    flow.set(\"minSOC\", msg.payload.minSOC)\n} else if (msg.topic == \"minSOCCharge\") {\n    if (flow.get(\"minSOC\") > msg.payload.minSOCCharge) {\n        msg.payload.minSOC = msg.payload.minSOCCharge;\n        msg.update = 1;\n    } else if (flow.get(\"maxSOCCharge\") < msg.payload.minSOCCharge) {\n        msg.payload.maxSOCCharge = msg.payload.minSOCCharge;\n        msg.update = 3;\n    }\n    flow.set(\"minSOCCharge\", msg.payload.minSOCCharge)\n} else if (msg.topic == \"maxSOCCharge\") {\n    if (flow.get(\"minSOCCharge\") > msg.payload.maxSOCCharge) {\n        msg.payload.minSOCCharge = msg.payload.maxSOCCharge;\n        msg.update = 2;\n    } else if (flow.get(\"maxSOC\") < msg.payload.maxSOCCharge) {\n        msg.update = 4;\n        msg.payload.maxSOC = msg.payload.maxSOCCharge;\n    }\n    flow.set(\"maxSOCCharge\", msg.payload.maxSOCCharge)\n} else if (msg.topic == \"maxSOC\") {\n    if (flow.get(\"maxSOCCharge\") > msg.payload.maxSOC) {\n        msg.payload.maxSOCCharge = msg.payload.maxSOC;\n        msg.update = 3;\n    }\n    flow.set(\"maxSOC\", msg.payload.maxSOC);\n} else {\n    node.error(\"SOC: unknown msg.topic \" + msg.topic, msg);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 110,
        "y": 640,
        "wires": [
            [
                "d7da4fc00f92ac78"
            ]
        ]
    },
    {
        "id": "e6e1e01e755fb9e2",
        "type": "join",
        "z": "fdea4f1a813872ee",
        "name": "join SOC",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1020,
        "y": 540,
        "wires": [
            [
                "821abe062a5f1b14"
            ]
        ]
    },
    {
        "id": "ec95e2c20cd73b29",
        "type": "function",
        "z": "fdea4f1a813872ee",
        "name": "config minSOC",
        "func": "msg.payload = msg.payload.minSOC; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 620,
        "wires": [
            [
                "08d7e5664af0815b"
            ]
        ]
    },
    {
        "id": "5c5efe33f80065e7",
        "type": "function",
        "z": "fdea4f1a813872ee",
        "name": "config minSOCCharge",
        "func": "msg.payload = msg.payload.minSOCCharge; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 680,
        "wires": [
            [
                "bc07384a3678aa5d"
            ]
        ]
    },
    {
        "id": "ad9eb17081dfea19",
        "type": "function",
        "z": "fdea4f1a813872ee",
        "name": "config maxSOCCharge",
        "func": "msg.payload = msg.payload.maxSOCCharge; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 740,
        "wires": [
            [
                "331ee46ba8dd9522"
            ]
        ]
    },
    {
        "id": "da305b2292bbb415",
        "type": "function",
        "z": "fdea4f1a813872ee",
        "name": "config maxSOC",
        "func": "msg.payload = msg.payload.maxSOC; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 800,
        "wires": [
            [
                "26311181aaf58812"
            ]
        ]
    },
    {
        "id": "d7da4fc00f92ac78",
        "type": "switch",
        "z": "fdea4f1a813872ee",
        "name": "switchSOC",
        "property": "update",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 290,
        "y": 640,
        "wires": [
            [
                "ec95e2c20cd73b29",
                "5c5efe33f80065e7",
                "ad9eb17081dfea19",
                "da305b2292bbb415"
            ],
            [
                "ec95e2c20cd73b29"
            ],
            [
                "5c5efe33f80065e7"
            ],
            [
                "ad9eb17081dfea19"
            ],
            [
                "da305b2292bbb415"
            ]
        ]
    },
    {
        "id": "b8a5242553ae9f23",
        "type": "switch",
        "z": "fdea4f1a813872ee",
        "name": "switchCharge",
        "property": "update",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 300,
        "y": 240,
        "wires": [
            [
                "b7387ef91c94cdbe",
                "cccd847a0b84e317"
            ],
            [
                "b7387ef91c94cdbe"
            ],
            [
                "cccd847a0b84e317"
            ]
        ]
    },
    {
        "id": "ae30b0a366acb36b",
        "type": "ui_switch",
        "z": "fdea4f1a813872ee",
        "name": "",
        "label": "Start NOW",
        "tooltip": "Start charging now (vs. start time below)",
        "group": "6f25cc7b53b9174f",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "chargeNow",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 790,
        "y": 420,
        "wires": [
            [
                "2d3fad3fc43f2c4e"
            ]
        ]
    },
    {
        "id": "e3c6c628e856fa60",
        "type": "ui_text_input",
        "z": "fdea4f1a813872ee",
        "name": "",
        "label": "Charge Start",
        "tooltip": "Start time of charging",
        "group": "6f25cc7b53b9174f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "chargeStart",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 790,
        "y": 480,
        "wires": [
            [
                "c2691b8e86a3efa3"
            ]
        ]
    },
    {
        "id": "a54a6f9fcd5b6f69",
        "type": "ui_button",
        "z": "fdea4f1a813872ee",
        "name": "",
        "group": "723de613faadf518",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Save",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "Save",
        "topicType": "str",
        "x": 490,
        "y": 860,
        "wires": [
            [
                "5ea917eba5f1f34b"
            ]
        ]
    },
    {
        "id": "5ea917eba5f1f34b",
        "type": "function",
        "z": "fdea4f1a813872ee",
        "name": "writeOutput",
        "func": "str = \"[PVControl]\\n\";\nkeys = flow.keys().sort();\nmsg.payload = {};\nfor (var i = 0; i < keys.length; i++) {\n    key = keys[i];\n    val = flow.get(key);\n    if (key.endsWith(\"_0\")) {\n        continue;\n    } else if (key.includes('SOC')) {\n        val = val/100\n    } else if (key == 'chargeStart') {           // convert time stamp to Epoch (UTC)\n        date = new Date()\n        offs = -60000*date.getTimezoneOffset()   // offset for local time zone (vs. UTC)\n\n        now  = date.getTime() + offs             // now (in local time zone)\n\n        date.setHours(0)\n        date.setMinutes(0)\n        date.setSeconds(0)\n        date.setMilliseconds(0)                  // set date to last midnight\n\n        val   = date.getTime() + offs + val      // time to start charging\n        slack = 1*60000                          // give 1min slack: if start time is closer to this, loop over to next day\n        if (val < now - slack) {\n            val = val + 86400000                 // loop over to next day\n        }\n        val = val - offs                         // convert to UTC\n    }\n    str += \"    \" + key + \" = \" + val + \"\\n\";\n}\nmsg.payload = str;\nmsg.filename = global.get(\"projectdir\") + \"/gui_config.ini\"\nflow.set(\"saved\", new Date())\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 860,
        "wires": [
            [
                "0642c142661b7155"
            ]
        ]
    },
    {
        "id": "c5b3ef4ef5d7d117",
        "type": "function",
        "z": "fdea4f1a813872ee",
        "name": "I_gridMax",
        "func": "flow.set(\"I_gridMax\", msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "2d3fad3fc43f2c4e",
        "type": "function",
        "z": "fdea4f1a813872ee",
        "name": "nowSwitch",
        "func": "flow.set(\"chargeNow\", msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "5e50b62616a07825",
        "type": "function",
        "z": "fdea4f1a813872ee",
        "name": "nowSwitch",
        "func": "if (global.get(\"cnt\") == 1) {\n    msg.payload = 1\n    flow.set(\"chargeNow\", msg.payload)    \n} else if (new Date() - flow.get(\"saved\") < 2*60000) {\n    msg = null\n} else if (\"chargeNow\" in msg.payload.ctrlstatus) {\n    msg.payload = msg.payload.ctrlstatus.chargeNow\n    flow.set(\"chargeNow\", msg.payload)\n} else { \n    msg = null\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 420,
        "wires": [
            [
                "ae30b0a366acb36b"
            ]
        ]
    },
    {
        "id": "c2691b8e86a3efa3",
        "type": "function",
        "z": "fdea4f1a813872ee",
        "name": "chargeStart",
        "func": "flow.set(\"chargeStart\", msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "cabedcfe91f0fa47",
        "type": "function",
        "z": "fdea4f1a813872ee",
        "name": "chargeStartInit",
        "func": "msg.payload = 0                        // mid-night\nflow.set(\"chargeStart\", msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 480,
        "wires": [
            [
                "e3c6c628e856fa60"
            ]
        ]
    },
    {
        "id": "0642c142661b7155",
        "type": "file",
        "z": "fdea4f1a813872ee",
        "name": "write Config",
        "filename": "",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1030,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "7a5664fcd82301ef",
        "type": "projectdir",
        "z": "fdea4f1a813872ee",
        "name": "",
        "x": 280,
        "y": 80,
        "wires": [
            [
                "ea26d616944a8e33"
            ]
        ]
    },
    {
        "id": "ea26d616944a8e33",
        "type": "function",
        "z": "fdea4f1a813872ee",
        "name": "set projectdir",
        "func": "msg.filename = msg.projectdir + \"/pvstatus.json\"\nglobal.set(\"projectdir\", msg.projectdir)\n\nglobal.set(\"cnt\", global.get(\"cnt\")+1)\nmsg.cnt = global.get(\"cnt\")\n\nmsg.topic = \"config\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "global.set(\"cnt\", 0)   // counter 'last config' inject node\nflow.set(\"saved\", 0)   // last time 'Save' was executed",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 80,
        "wires": [
            [
                "a286b9f0707a07f7"
            ]
        ]
    },
    {
        "id": "b693dec94595b248",
        "type": "switch",
        "z": "fdea4f1a813872ee",
        "name": "on Start",
        "property": "cnt",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 780,
        "y": 160,
        "wires": [
            [
                "d79990882df7ee90",
                "e6e1e01e755fb9e2",
                "a04a269b484df4f0",
                "cabedcfe91f0fa47"
            ]
        ]
    },
    {
        "id": "24c11b92f9fd074c",
        "type": "function",
        "z": "fdea4f1a813872ee",
        "name": "",
        "func": "modeid    = msg.payload.wbstatus.modeid\nstateid   = msg.payload.wbstatus.stateid\nconnected = msg.payload.wbstatus.connected\ncompleted = msg.payload.wbstatus.charge_completed\n\nset_Amp   = msg.payload.wbstatus.manualmodeamp\nreq_Amp   = msg.payload.ctrlstatus.I_charge\nact_Amp   = msg.payload.wbstatus.active_power/(3*msg.payload.pvstatus.grid_voltage)\ncos_phi   = msg.payload.wbstatus.cos_phi*10\n\nif (global.get('cnt') == 1) {\n    msg.ui_control = {\n        'ymax': msg.payload.wbstatus.I_max\n    }\n}\nif (modeid == 3) {\n    state = 'Manual / '\n    if (stateid == 17) {\n        state += 'Disabled' \n    } else if (stateid == 0) {\n        state += 'Idle'\n    } else if (stateid == 4) {\n        state += 'Waiting'\n    } else if (stateid == 5) {\n        state += 'Charging'\n    } else {\n        state += 'ERR' + stateid.toString()\n    }\n    state += \" / \" + set_Amp.toString() + \"A\"\n} else if (modeid == 1) {\n    state = 'ECO'\n} else if (modeid == 2) {\n    state = 'Quick'\n}\n\nif (connected == 0) {\n    connect = 'not connected'\n} else if (completed == 0) {\n    connect = 'connected / not completed'\n} else {\n    connect = 'completed'\n}\nmsg.payload['state']     = state\nmsg.payload['connect']   = connect\nmsg.payload['requested'] = req_Amp.toString() + \"A\"\nmsg.payload['actual']    = act_Amp.toString() + \"A\"\nmsg.payload['cos_phi']   = cos_phi\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 960,
        "wires": [
            [
                "70f39d95c11004d9",
                "cd0e0142d7c9886d",
                "9f29204a608c77b6",
                "229a1dd888e50004",
                "64e4af554c3836ce",
                "192db8572fbad653"
            ]
        ]
    },
    {
        "id": "70f39d95c11004d9",
        "type": "ui_text",
        "z": "fdea4f1a813872ee",
        "group": "f6e8ace4ba111c9a",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "WB State",
        "format": "{{msg.payload.state}}",
        "layout": "row-spread",
        "className": "",
        "x": 300,
        "y": 960,
        "wires": []
    },
    {
        "id": "cd0e0142d7c9886d",
        "type": "ui_text",
        "z": "fdea4f1a813872ee",
        "group": "f6e8ace4ba111c9a",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "WB Connect",
        "format": "{{msg.payload.connect}}",
        "layout": "row-spread",
        "className": "",
        "x": 310,
        "y": 1000,
        "wires": []
    },
    {
        "id": "9f29204a608c77b6",
        "type": "ui_text",
        "z": "fdea4f1a813872ee",
        "group": "f6e8ace4ba111c9a",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "WB Requested",
        "format": "{{msg.payload.requested}}",
        "layout": "row-spread",
        "className": "",
        "x": 320,
        "y": 1040,
        "wires": []
    },
    {
        "id": "229a1dd888e50004",
        "type": "function",
        "z": "fdea4f1a813872ee",
        "name": "I_req",
        "func": "msg.payload = msg.payload.requested\nmsg.topic = \"I_req\"\n\nif (global.get(\"cnt\") == 1) {\n    msg.payload = []\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 1080,
        "wires": [
            [
                "7cc8b868d491713d"
            ]
        ]
    },
    {
        "id": "192db8572fbad653",
        "type": "function",
        "z": "fdea4f1a813872ee",
        "name": "cos phi",
        "func": "msg.payload = msg.payload.cos_phi\nmsg.topic = \"cos phi (*10)\"\n\nif (global.get(\"cnt\") == 1) {\n    msg.payload = []\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1160,
        "wires": [
            [
                "7cc8b868d491713d"
            ]
        ]
    },
    {
        "id": "7cc8b868d491713d",
        "type": "ui_chart",
        "z": "fdea4f1a813872ee",
        "name": "History",
        "group": "f6e8ace4ba111c9a",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Last Hour",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#2ca02c",
            "#e8d7ae",
            "#71a2d1",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "018b219761ae0456",
        "type": "comment",
        "z": "fdea4f1a813872ee",
        "name": "Below: Hardy-Barth specific status display",
        "info": "",
        "x": 220,
        "y": 920,
        "wires": []
    },
    {
        "id": "7919dcf1bb35afe2",
        "type": "comment",
        "z": "fdea4f1a813872ee",
        "name": "Debugging",
        "info": "",
        "x": 1020,
        "y": 920,
        "wires": []
    },
    {
        "id": "49586cf82a5dd16e",
        "type": "function",
        "z": "fdea4f1a813872ee",
        "name": "startup settings",
        "func": "if (global.get(\"cnt\") == 1) {\n    flow.set(\"I_gridMax_0\",    msg.payload.pvcontrol.I_gridMax);\n    flow.set(\"I_max_0\",        msg.payload.pvcontrol.I_max);\n    flow.set(\"I_min_0\",        msg.payload.pvcontrol.I_min);\n\n    flow.set(\"maxSOC_0\",       msg.payload.pvcontrol.maxSOC*100);\n    flow.set(\"maxSOCCharge_0\", msg.payload.pvcontrol.maxSOCCharge*100);\n    flow.set(\"minSOC_0\",       msg.payload.pvcontrol.minSOC*100);\n    flow.set(\"minSOCCharge_0\", msg.payload.pvcontrol.minSOCCharge*100);\n\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 160,
        "wires": [
            [
                "b693dec94595b248",
                "24c11b92f9fd074c",
                "5e50b62616a07825"
            ]
        ]
    },
    {
        "id": "64e4af554c3836ce",
        "type": "function",
        "z": "fdea4f1a813872ee",
        "name": "I_act",
        "func": "msg.payload = msg.payload.actual\nmsg.topic = \"I_act\"\n\nif (global.get(\"cnt\") == 1) {\n    msg.payload = []\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 1120,
        "wires": [
            [
                "7cc8b868d491713d"
            ]
        ]
    }
]